{% extends 'changelogs/base.html' %}

{% block content %}
    {% if all_projects_list %}
        <h2>All projects</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">URL</th>
            </tr>
            </thead>
            <tbody>
            {% for project in all_projects_list %}
                <tr>
                    <th scope="row">{{ project.id }}</th>
                    <td><a href="{% url 'changelogs:project_detail' project.id %}">{{ project.title }}</a></td>
                    <td>{{ project.url }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}
{% endblock %}