{% extends 'changelogs/_base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="display-3">API Documentation</h1>
        </div>
        <p>Automate Changelogger via a simple API.</p>
        <h2>Basic usage</h2>
        <p>
            API requests should be prefixed with api.
        </p>
        <p>
            Example of a valid API request using cURL: <code>curl "https://yourchangeloggers.com/api/projects/"</code>
        </p>
        <p>
            The API uses JSON to serialize data. You don’t need to specify .json at the end of an API URL.
        </p>
        <h2>Authentication</h2>
        <p>
            Most API requests require authentication, or will only return public data when authentication is not
            provided. For those cases where it is not required, this will be mentioned in the documentation for each
            individual endpoint. For example, the /projects/:id endpoint.
        </p>
        <p>
            There is one way to authenticate with the Changelogger's API: Token Authentication.
        </p>
        <p>
            This authentication scheme uses a simple token-based HTTP Authentication scheme. Token authentication is
            appropriate for client-server setups, such as native desktop and mobile clients.
        </p>
        <p>
            For clients to authenticate, the token key should be included in the Authorization HTTP header. The API
            token you can copy on your <a href="{% url 'changelogs:profile' %}"> Profile page</a>. The key should be
            prefixed
            by the string literal "Token", with whitespace
            separating the two strings. For example:
        </p>
        <p>
            <code>Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b</code>
        </p>
        <p>
            Unauthenticated responses that are denied permission will result in an HTTP 401 Unauthorized response with
            an appropriate WWW-Authenticate header. For example:
        </p>
        <p>
            <code>
                WWW-Authenticate: Token
            </code>
        </p>
        <h2>Project List</h2>
        <p>
            API endpoint that allows projects to be viewed or edited. No authentication is required.
        </p>
        <p>
            <code>GET /api/projects/</code>
        </p>
        <h2>Add new version</h2>
        <p>
            API endpoint that allows to add new version.
        </p>
        <p>
            <code>POST /api/versions/</code>
        </p>
        <p>Parameters:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Type</th>
                <th scope="col">Required</th>
                <th scope="col">Description</th>
                <th scope="col">Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>title</td>
                <td>string</td>
                <td>yes</td>
                <td>Title of release</td>
                <td>v1.7.2</td>
            </tr>
            <tr>
                <td>date_time</td>
                <td>datetime</td>
                <td>yes</td>
                <td>Datetime of release</td>
                <td>2020-01-10 07:14:24.310236</td>
            </tr>
            <tr>
                <td>body</td>
                <td>string</td>
                <td>yes</td>
                <td>Body of changelog</td>
                <td>Some small changes</td>
            </tr>
            <tr>
                <td>project</td>
                <td>integer</td>
                <td>yes</td>
                <td>ID of project to add version</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
