{% extends 'changelogs/_base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="display-3">Profile</h1>
        </div>
        <ul>
            {% if user.first_name and user.last_name %}
                <li>name: {{ user.first_name }} {{ user.last_name }}</li>
            {% endif %}
            {% if user.email %}
                <li>e-mail: {{ user.email }}</li>
            {% endif %}
            <li>API token: {{ user.auth_token }}</li>
        </ul>
    </div>
{% endblock %}
