{% extends 'changelogs/_base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="display-3">Profile</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a class="btn btn-primary" href="{% url 'changelogs:edit_profile' %}" role="button">
                            Edit profile
                        </a>
                    </div>
                </div>
        </div>
        <ul>
            {% if user.first_name and user.last_name %}
                <li>name: {{ user.first_name }} {{ user.last_name }}</li>
            {% endif %}
            {% if user.email %}
                <li>e-mail: {{ user.email }}</li>
            {% endif %}
            <li>API token: {{ user.auth_token }}</li>
            {% if user.gitlab_token %}
                <li>GitLab token: {{ user.gitlab_token }}</li>
            {% endif %}
            {% if user.github_token %}
                <li>GitHub token: {{ user.github_token }}</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
