{% extends 'changelogs/_base.html' %}

{% block content %}
    <div class="container">
        {% if projects_list %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="display-3">Projects</h1>
            </div>
            <ul>
                {% for project in projects_list %}
                    <li><a href="{% url 'changelogs:project_detail' project.id %}">{{ project.title }}</a>
                        (<a href="{{ project.url }}" target="_blank">{{ project.url }}</a> <i
                                class="fas fa-external-link-alt"></i>)

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info" role="alert">
                No projects are available =(
            </div>
        {% endif %}
    </div>
{% endblock %}