{% extends 'changelogs/base.html' %}

{% block content %}
    {% if projects_list %}
        <h2>Projects</h2>
        <ul>
            {% for project in projects_list %}
                <li><a href="{% url 'changelogs:project_detail' project.id %}">{{ project.title }}</a>
                    ({{ project.url }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            No projects are available =(
        </div>
    {% endif %}
{% endblock %}