name: Changelogger
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with black
        run: |
          pip install black
          black --check .
      - name: Check type annotations with mypy
        run: |
          pip install mypy
          mypy .
      - name: Collect static
        run: |
          python manage.py collectstatic --clear --noinput
      - name: Run tests
        run: |
          python manage.py test
